huggingface-hub>=0.19.0,<1.0.0
#torch>=2.0.1,<2.4.0          # Актуальная версия с гарантией совместимости
#torchvision>=0.15.2,<0.17.0  # Соответствует PyTorch 2.x
torch==2.6.0 
torchvision==0.17.0 
#torchaudio==2.6.0
numpy>=1.24.0,<2.0.0         # Стабильная версия для работы с тензорами
opencv-python>=4.7.0,<5.0.0  # Поддержка обработки изображений
tqdm>=4.66.0,<5.0.0          # Прогресс-бары
basicsr>=1.4.2               # Основная зависимость для Real-ESRGAN

